{% load static from staticfiles %}		
<!-- loading static modules -->

<!DOCTYPE html>
<html>
<head>
	<title>FOOD ORDER</title>
	<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
	<header class="wrapper">
		<h1><a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" alt="food order logo"></a></h1>
		<nav>
			<ul>
				{% if user.is_authenticated %}
					<li>
						<form class="logout-link" action="{% url 'food:logout' %}" method="post">
							{% csrf_token %}
							<button type="submit">Logout</button>
						</form>
					</li>
				{% endif %}
			</ul>
		</nav>
	</header>

	<div class="wrapper">
		{% block content %}
		{% endblock %}
	</div>
	
</body>
</html>